<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="polyco3-view-item">

	<template>
		<div id="view-item"></div>
	</template>

	<script>
		Polymer({
			is: 'polyco3-view-item',
			properties: {
				item: Object
			},

			attached: function() {
				var item = this.item;
				this.importHref('/components/polyco3/content-types/' + item.type + '/template.html', function() {
					var viewItem = document.createElement('polyco3-' + item.type);
					viewItem.setAttribute('article', JSON.stringify(item));
					this.appendChild(viewItem);
				});
			}
		});
	</script>

</dom-module>
