<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/polyco3/content-types/article/template.html">

<polymer-element name="polyco3-view-item" attributes="item">
	<template>
		<div id="view-item"></div>
	</template>
	<script>
		Polymer('polyco3-view-item', {
			ready: function() {
				var $ = this.$;
				var item = this.item;
				Polymer.import(['/components/polyco3/content-types/'+item.type+'/template.html'], function() {
					var viewItem = document.createElement('polyco3-'+item.type);
					viewItem.setAttribute('article', JSON.stringify(item).replace(/'/g, '&apos;'));
					$['view-item'].appendChild(viewItem);
				});
			}
		});
	</script>
</polymer-element>
