<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
<link rel="import" href="item-template.html">

<polymer-element name="polyco3-view" attributes="data url">
	<template>
		<style>
			#ajax {
				display: none;
			}
		</style>

		<core-ajax id="ajax" auto url="{{url}}" on-core-response="{{itemsLoaded}}" method="GET" handleAs="json"></core-ajax>

		<div layout vertical id="view">
			<template repeat="{{item in items}}">
				<polyco3-view-item item="{{item}}"></polyco3-view-item>
			</template>
		</div>
	</template>
	<script>
		Polymer('polyco3-view', {
			created: function() {
				this.items = [];
			},
			itemsLoaded: function() {
				this.items = this.$.ajax.response.slice(0);
			}
		});
	</script>
</polymer-element>
