<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="item-template.html">

<dom-module id="polyco3-view">
	<style>
		#ajax {
			display: none;
		}

		#view {
			@apply(--layout-vertical);
		}
	</style>

	<template>
		<iron-ajax id="ajax" auto url="{{url}}" on-response="handleResponse" method="GET" handle-as="json"></iron-ajax>

		<div id="view">
			<template is="dom-repeat" items="{{items}}">
				<polyco3-view-item item="{{item}}"></polyco3-view-item>
			</template>
		</div>
	</template>

	<script>
		Polymer({
			is: 'polyco3-view',
			properties: {
				url: String,
				items: {
					type: Array,
					value: []
				}
			},

			handleResponse: function(request) {
				this.items = request.detail.response;
			}
		});
	</script>

</dom-module>
