<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="polyco3-view">

	<template>
		<iron-ajax id="ajax" auto url="{{url}}" on-response="handleResponse" method="GET" handle-as="json" last-response="{{data}}"></iron-ajax>

		<div id="view"></div>
	</template>

	<script>
		Polymer({
			is: 'polyco3-view',
			properties: {
				url: String
			},

			handleResponse: function(request) {
				var that = this;

				request.detail.response.forEach(function(item, index, array) {
					that.importHref('/components/polyco3/content-types/' + item.type + '/template.html', function() {
						var viewItem = document.createElement('polyco3-' + item.type);
						viewItem[item.type] = item;
						that.$.view.appendChild(viewItem);
					});
				});
			}
		});
	</script>

</dom-module>
